<div class="storybook-section">
    <h2 class="storybook-section-header">Flex 2 Column</h2>
    <ul class="storybook-component-list space-list">
        
        <li class="storybook-component layout-item">
            <h3>Two Column Equal</h3>
            <div class="layout layout--flex layout--flex_two-col_equal" style="width: 100%;">
                <div style="background-color: #ddd; height: 50px;"></div>
                <div style="background-color: #ddd; height: 50px;"></div>
            </div>
        </li>
        <li class="storybook-component layout-item">
            <h3>Two Column 25/75</h3>
            <div class="layout layout--flex layout--flex_two-col_25-75" style="width: 100%;">
                <div style="background-color: #ddd; height: 50px;"></div>
                <div style="background-color: #ddd; height: 50px;"></div>
            </div>
        </li>
        <li class="storybook-component layout-item">
            <h3>Two Column 75/25</h3>
            <div class="layout layout--flex layout--flex_two-col_75-25" style="width: 100%;">
                <div style="background-color: #ddd; height: 50px;"></div>
                <div style="background-color: #ddd; height: 50px;"></div>
            </div>
        </li>
        <li class="storybook-component layout-item">
            <h3>Two Column 33/67</h3>
            <div class="layout layout--flex layout--flex_two-col_33-67" style="width: 100%;">
                <div style="background-color: #ddd; height: 50px;"></div>
                <div style="background-color: #ddd; height: 50px;"></div>
            </div>
        </li>
        <li class="storybook-component layout-item">
            <h3>Two Column 67/33</h3>
            <div class="layout layout--flex layout--flex_two-col_67-33" style="width: 100%;">
                <div style="background-color: #ddd; height: 50px;"></div>
                <div style="background-color: #ddd; height: 50px;"></div>
            </div>
        </li>
       
    </ul>
</div>
<div class="storybook-section">
    <h2 class="storybook-section-header">Flex 3 Column</h2>
    <ul class="storybook-component-list space-list">
        
        <li class="storybook-component layout-item">
            <h3>Three Column Equal</h3>
            <div class="layout layout--flex layout--flex_three-col_equal" style="width: 100%;">
                <div style="background-color: #ddd; height: 50px;"></div>
                <div style="background-color: #ddd; height: 50px;"></div>
                <div style="background-color: #ddd; height: 50px;"></div>
            </div>
        </li>
    </ul>
</div>
<div class="storybook-section">
    <h2 class="storybook-section-header">Flex 4 Column</h2>
    <ul class="storybook-component-list space-list">
        
        <li class="storybook-component layout-item">
            <h3>Three Column Equal</h3>
            <div class="layout layout--flex layout--flex_four-col_equal" style="width: 100%;">
                <div style="background-color: #ddd; height: 50px;"></div>
                <div style="background-color: #ddd; height: 50px;"></div>
                <div style="background-color: #ddd; height: 50px;"></div>
                <div style="background-color: #ddd; height: 50px;"></div>
            </div>
        </li>
    </ul>
</div>