#site-header {
    &.header--banner-image {

        margin-bottom: var(--space-16);
        position: relative;

        .hdr-wrap {
            .hdr-brand {
                min-height: unset !important;
                .cu-seal {
                    top: -10px;
                    position: relative;
                    background: #FFF;
                    border-radius: 99em;
                    padding: .75em;
                    
                    img {
                        z-index: 1;
                        position: relative;
                    }
                }

                &:before, &:after {
                    content: unset !important;
                }
            }

        }
    }
}

.hero--banner {

}