{{ attach_library('clocktower/menu-utility') }}
    {% if items %}
    <nav aria-label="Utility" id="utility-nav">
        <ul class="utility-nav">
            {% for item in items %}
                {% set link_options = item.original_link.options %}
                <li{{ item.attributes.addClass(item_classes) }}>
                   {{ link(item.title, item.url, link_options) }}
                </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}

