<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
  </head>
  <body>
    <h2>
      Incomplete Items ({{incomplete-checklist-items.size}})
    </h2>
    {% if incomplete-checklist-items.size == 0 %}
    
    <p>
      This block should not be here.
    </p>
    {% endif %}

    <table class="ct-table ct-table-checklist">
        <thead>
            <tr>
                <td>Status</td>
                <td>Details</td>
                <td>Date</td>
            </tr>
        </thead>
        <tbody>
            {% for checklist in incomplete-checklist-items %}
                <tr>
                    <td><i class="fa-light fa-triangle-exclamation"></i> Awaiting</td>
                    <td>{{checklist.Subject}}</td>
                    <td>{{checklist.Fulfilled-Date}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% if {{complete-checklist-items.size}} == 0} %}

    <p>
      You have not completed any items yet to show.
    </p>
    
    {% else %}
        <h2>
        Completed Items ({{complete-checklist-items.size}})
        </h2>

        <div class="accordion-group">
            <div class="accordion-item">
                <h3>
                    <button class="accordion-trigger">View Completed Items</button>
                </h3>
                <div class="accordion-panel">
                    <table class="ct-table ct-table-checklist">
                        <thead>
                            <tr>
                                <td>Status</td>
                                <td>Details</td>
                                <td>Date</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for checklist in complete-checklist-items %}
                                <tr>
                                    <td><i class="fa-light fa-triangle-exclamation"></i><i class="fa-regular fa-square-check"></i> Received</td>
                                    <td>{{checklist.Subject}}</td>
                                    <td>{{checklist.Fulfilled-Date}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

  </body>
</html>
