<div class="storybook-section">
    <h2 class="storybook-section-header">Layers</h2>
    <div style="position: relative; width: 100%; height: 100vh;">
        <div style="z-index: var(--floor); width: 100%; height: 100vh; background: hsl(0,0%,50%); position: absolute; text-align:">
            <span style="position: absolute; top: 1rem; left: 1rem; font-family: var(--clocktower-sans-serif); font-size: var(--step--1); color: #FFF;">Layer Floor (--layer-floor)</span>
        </div>
        <div style="z-index: var(--ceiling); width: 85%; height: 85vh; background: hsl(0,0%,65%); position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
            <span style="position: absolute; top: 1rem; left: 1rem; font-family: var(--clocktower-sans-serif); font-size: var(--step--1);">Layer Ceiling (--layer-ceiling)</span>
        </div>
        <div style="z-index: var(--roof); width: 70%; height: 70vh; background: hsl(0,0%,80%); position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
            <span style="position: absolute; top: 1rem; left: 1rem; font-family: var(--clocktower-sans-serif); font-size: var(--step--1);">Layer Ceiling (--layer-ceiling)</span>
        </div>
        <div style="z-index: var(--sky); width: 55%; height: 55vh; background: hsl(0,0%,95%); position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
            <span style="position: absolute; top: 1rem; left: 1rem; font-family: var(--clocktower-sans-serif); font-size: var(--step--1);">Layer Ceiling (--layer-ceiling)</span>
        </div>
    </div>
</div>