.notification--sitewide {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #b31b1b;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    p {
        color: #FFF;
        font-size: var(--step-1);
        margin: var(--space-0);
        padding: var(--space-16) var(--space-32);
    }

    &.high-contrast {
        background: #c6ff00;
        p {
            color: #000;
        }
    }
}

.sitewide-notifcation-enabled { 

    margin-top: 5em;
}