<div class="storybook-section">
    <div class="section section--{{ sectionWidth|lower }}">
        <h2 class="storybook-section-header">Full Width</h2>
    </div>
</div>
<div class="storybook-section">
    <h2 class="storybook-section-header">Regular Width</h2>
    
</div>
<div class="storybook-section">
    <h2 class="storybook-section-header">Narrow Width</h2>
    <div style="background-color: red;
</div>