{{ attach_library('clocktower/masthead') }}

<div class="lp-hero">
  <div class="cover-image">
    {{ image }}
  </div>
                
  {# {% include '@regions/navigation/section/section.twig' with {
        'section': section,
  } %} #}
</div>